<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- SCSS
        link(rel="stylesheet", href="./scss/main.scss")
        title Project




    body
        .container

            //- HEADER
            include pug/layout/header

            .repos-cont

                .get-repos
                    input(placeholder="Username")
                    button Get Repos

                .show-repos: div


























        script(src="./main.js")